html
{
    overflow-y: scroll;
}/* always force a scrollbar in non-IE */

body
{
    font: normal 90%/130% Courier;
    font-size: 16px;
    line-height: 24px;

    width: 480px;
    margin: 50px auto;

    color: #333;
    background: #bbb;
}

h1
{
    font-family: Helvetica, Arial, sans-serif;
}
/* --- circle --- */
.img-circle
{
    width: 120px;
    height: 120px;
    margin: 0 20px 0 0;

    border-radius: 50%;

    shape-outside: circle(80px at 60px 60px);
}

/* --- footer --- */
footer
{
    margin-top: 50px;

    text-align: center;
}
/* --- anchor --- */
a,
a:hover,
a:active,
a:link,
a:visited
{
    text-decoration: underline;

    color: #333;
}
a:hover
{
    text-decoration: none;background-color: #ddd;
}
a.unstyled
{
    text-decoration: none;
}

hr
{
    margin: 0;
    padding: 0;

    text-align: center;

    color: #555;
    border: none;
    border-top: medium double #555;
}
hr:after
{
    font-size: 1.5em;

    position: relative;
    top: -.55em;

    display: inline-block;

    padding: 0 .25em;

    content: '*';

    background: #bbb;
}
/* --- utils --- */
.pull-left
{
    float: left;
}
.pull-right
{
    float: right;
}

section,
main
{
    clear: both;
}

.epigraph
{
    font-size: .8em;
}

.time-machine
{
    margin-bottom: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid #333;
}
.time-machine img
{
    padding-right: 10px;
}
.time-machine:after
{
    content: attr(title);
}

/* --- a minimum of responsiveness --- */
@media screen and (max-width: 540px)
{
    body
    {
        font-size: 24px;
        line-height: 36px;

        margin: 5px auto;
        padding: 0 10px 0 10px;

        -webkit-text-size-adjust: none;
    }


    header h1
    {
        font-size: 64px;
        line-height: 1em;
    }

    .img-circle
    {
        width: 200px;
        height: 200px;

        shape-outside: circle(120px at 100px 100px);
    }
    footer img
    {
        width: 64px;
        height: 64px;
    }
}


.cell
{
    font: 10px/12px 'Trebuchet MS',Tahoma, sans-serif;

    position: absolute;

    overflow: hidden;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    border: 1px solid #000;
}

.cell a
{
    display: block;

    margin-top: 1em;

    text-decoration: none;

    color: #fff;
}
.q0 a,
.q3 a,
.q4 a,
.q5 a,
.q6 a,
.q7 a
{
    color: #333;
}

.q1
{
    background: #5e4fa2;
}

.q2
{
    background: #3288bd;
}

.q3
{
    background: #66c2a5;
}

.q4
{
    background: #abdda4;
}

.q5
{
    background: #e6f598;
}

.q6
{
    background: #ffffbf;
    background: #f6faaa;
    /*border-color: #f6faaa;*/
}

.q7
{
    background: #fee08b;
}

.q8
{
    background: #fdae61;
}

.q9
{
    background: #f46d43;
}

.q10
{
    background: #d53e4f;
}

.q11
{
    background: #9e0142;
}

#legend
{
    font-size: 11px;
    line-height: 11px;

    overflow: hidden;

    width: 165px;
    margin: 10px auto;
    margin-top: 10px;
    padding: 5px 7px;

    color: #777;
    border: 1px solid #f0f0f0;
    -moz-border-radius: 3px;
         border-radius: 3px;
    background: #f3f3f3;
}

#legend ul
{
    clear: both;
    overflow: hidden;

    margin-left: -3.7em;

    list-style-type: none;
}

#legend li
{
    float: left;

    width: 14px;
    height: 14px;
    margin-right: 1px;
}

#legend p
{
    margin-top: 3px;
}

#legend p.more
{
    float: right;
    clear: none;
}

#legend p.less
{
    float: left;
    clear: none;
}

.controls
{
    font-size: 12px;
    line-height: 12px;

    margin: 24px 0 20px 7px;

    text-align: center;
}

.controls label
{
    display: block;
    float: left;

    margin: 0 3px 2px 0;
    padding: 4px 6px;

    cursor: pointer;

    color: #888;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
         border-radius: 2px;
    background: #ddd;
}

.controls label:hover
{
    color: white;
    border: 1px solid #888;
    background: #999;
}

.controls label.sel
{
    cursor: default;

    color: white;
    border: 1px solid #333;
    background: #444;
}

.controls button
{
    font-size: 12px;

    margin: 0;
    padding: 2px 6px 3px 6px;

    cursor: pointer;

    color: #888;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
         border-radius: 2px;
    background: #ddd;
}

.controls button:hover
{
    color: white;
    border: 1px solid #888;
    background: #999;
}

.controls button.sel
{
    cursor: default;

    color: white;
    border: 1px solid #333;
    background: #444;
}
article.post p
{
    margin-top: 0;

    -webkit-margin-before: 0;
}
