html
{
    overflow-y: scroll;
}/* always force a scrollbar in non-IE */

body
{
    font: normal 90%/130% Courier;
    font-size: 16px;
    line-height: 24px;

    width: 480px;
    margin: 50px auto;

    color: #333;
    background: #bbb;
}

h1
{
    font-family: Helvetica, Arial, sans-serif;
}
/* --- circle --- */
.img-circle
{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 20px 0 0;
    shape-outside: circle(80px at 60px 60px);
}

/* --- footer --- */
footer
{
    margin-top: 50px;

    text-align: center;
}
/* --- anchor --- */
a,
a:hover,
a:active,
a:link,
a:visited
{
    text-decoration: underline;

    color: #333;
}
a:hover
{
    text-decoration: none;background-color: #ddd;
}
a.unstyled
{
    text-decoration: none;
}


/* --- utils --- */
.pull-left
{
    float: left;
}
.pull-right
{
    float: right;
}

section,
main
{
    clear: both;
}

.epigraph
{
    font-size: .8em;
}

.time-machine{
	padding-bottom:5px;
	border-bottom:1px solid #333;
	margin-bottom:5px;
}
.time-machine img{
	padding-right:10px;
}
.time-machine:after{
	content:attr(title);
}

/* --- a minimum of responsiveness --- */
@media screen and (max-width: 540px)
{

    body {
      font-size: 24px;
      line-height: 36px;
      margin: 5px auto;
      padding: 0 10px 0 10px;
      -webkit-text-size-adjust: none;
    }
	

    header h1
    {
        font-size: 64px;
		line-height: 1em;
    }

    .img-circle
    {
        width: 200px;
        height: 200px;
        shape-outside: circle(120px at 100px 100px);
    }
    footer img
    {
        width: 64px;
        height: 64px;
    }
}


.cell {
    border: 1px solid #000;
    font: 10px/12px "Trebuchet MS",Tahoma, sans-serif;
    overflow: hidden;
    position: absolute;
    color:#fff;
    text-align:center;
    vertical-align:middle;
    
}

.cell a{
    color:#fff;
    text-decoration:none;
    margin-top:1em;
    display:block;
}
.q0 a,
.q3 a,
.q4 a,
.q5 a,
.q6 a,
.q7 a{
    color:#333;
}

.q1 {
	background: #5E4FA2;
}

.q2 {
	background: #3288BD;
}

.q3 {
	background: #66C2A5;
}

.q4 {
	background: #ABDDA4;
}

.q5 {
	background: #E6F598;
}

.q6 {
	background: #FFFFBF;
	background: #f6faaa;
	/*border-color: #f6faaa;*/
}

.q7 {
	background: #FEE08B;
}

.q8 {
	background: #FDAE61;
}

.q9 {
	background: #F46D43;
}

.q10 {
	background: #D53E4F;
}

.q11 {
	background: #9E0142;
}

#legend {
	width: 165px;
	color: #777;
	margin-top: 10px;
	background: #f3f3f3;
	border: 1px solid #f0f0f0;
	overflow: hidden;
	padding: 5px 7px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	line-height: 11px;
	margin: 10px auto;
}

#legend ul {
	list-style-type: none;
	overflow: hidden;
	clear: both;
	margin-left: -3.7em;
}

#legend li {
	float: left;
	margin-right: 1px;
	width: 14px;
	height: 14px;
}

#legend p {
	margin-top: 3px;
}

#legend p.more {
    clear:none;
	float: right;
}

#legend p.less {
    clear:none;
	float: left;
}

.controls {
	margin: 24px 0 20px 7px;
	font-size: 12px;
	line-height: 12px;
	text-align:center;
	
}

.controls label {
	float: left;
	display: block;
	cursor: pointer;
	padding: 4px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 3px 2px 0;
	color: #888;
}

.controls label:hover {
	background: #999;
	color: white;
	border: 1px solid #888;
}

.controls label.sel {
	background: #444;
	color: white;
	border: 1px solid #333;
	cursor: default;
}

.controls button {
	padding: 2px 6px 3px 6px;
	background: #ddd;
	border: 1px solid #ccc;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	color: #888;
	font-size: 12px;
	margin: 0;
	
}

.controls button:hover {
	background: #999;
	color: white;
	border: 1px solid #888;
}

.controls button.sel {
	background: #444;
	color: white;
	border: 1px solid #333;
	cursor: default;
}