<!doctype html>  
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Alberto Bolchini">
  <meta name="viewport" content="width=device-width" />
  {% capture styles %}
  {% include inline.scss %}
  {% endcapture %}

  <style>
  {{ styles | scssify }}
  </style>
</head>
<body>
	<section>
		<header><h1>{{page.title}}</h1></header>
		<main>
		{{content}}
		</main>
		{% if page.back %}
		<nav><a href="/" class="unstyled">← back home</a></nav>
		{% endif %}
	</section>
	<footer>
			<img src="/img/sierpinski.svg" alt="" />
	</footer>
	{% include analytics.html %}
  <link href="/css/style.css" rel="stylesheet">
</body>
</html>
