<!doctype html>  
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Alberto Bolchini">
  <meta name="viewport" content="width=device-width" />
  <link href="/css/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
	<header class="home">
		<h1 class="pull-left">Alberto Bolchini</h1>
	</header>
 	<section class="home">
		{{content}}
	</section>
	<footer>
			<img src="/img/sierpinsky-curve-linusmat.png" alt="" />
	</footer>
	{% include analytics.html %}
	{% include social-profiles.html %}
</body>
</html>

