<!doctype html>  
<html lang="it">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Alberto Bolchini">
  <meta name="viewport" content="width=device-width" />
  {% capture styles %}
  {% include inline.scss %}
  {% endcapture %}
  <style>
  {{ styles | scssify }}
  </style>
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
	<section>
		<header><h1>{{page.title}}</h1></header>
		<main>
		{{content}}
		</main>
	</section>
				<hr>
	<section class="mi-ricordo">
		{% for post in site.miricordo %}
			<article>
				{{ post.output }}
				<hr>
			</article>
		{% endfor %}		
	</section>
	<nav><a href="/" class="unstyled">← back home</a></nav>
		
	<footer>
			<img src="/img/sierpinski.svg" alt="" />
	</footer>
	{% include analytics.html %}
  <link href="/css/style.css" rel="stylesheet">
</body>
</html>
